.container{
    border: 2px solid red;
    width: 100px;
    height: 100px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;

    width: 80%;
    height: 400px;
}

.container > :nth-child(1) {
    margin: auto;
    margin-left: 40%;
    margin-top: 80px;
    
}

.container > :nth-child(1) > img {
    margin: auto;
    /* margin-top: 100px; */
    width: 200px;
}

.search__searchbox {
    max-width: 600px;
    width: 600px;
    border-radius: 20px;
    outline: 0;
    font-size: 16px;
    background: #2d2f30;
    color: #f2f2f2;
    /* height: 50px; */
    margin: auto;
    margin-top: 50px;
    padding: 10px 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.search__searchbox > :nth-child(1) > input {
    border: 0;
    padding: 0 15px;
    outline: 0;
    color: #f2f2f2;
    font-size: 16px;
    height: 30px;
    width: 80%;
    margin: 0;
    background: #2d2f30;
}

.search__searchbox > :nth-child(2){
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 7px;
    /* box-sizing: border-box; */
    background-color: yellow;
}

.search__searchbox > :nth-child(2) > img {
    /* width: 35px;
    height: 35px; */

    width: 100%;
    height: 100%;
}


.search_reasult {
    max-width: 600px;
    width: 600px;
    border-radius: 20px;
    outline: 0;
    font-size: 16px;
    background: #2d2f30;
    color: #f2f2f2;
    /* height: 50px; */
    margin: auto;
    /* margin-top: 50px; */
    padding: 10px 15px;

    /* display: flex;
    align-items: center;
    justify-content: space-between; */

    max-height: 300px;
    overflow-y: auto;
    border-radius: 20px;
    margin-bottom: 10px;
}

.each_reasult {
    color: white;
}

.each_reasult:hover{
    color: tomato;
}